.auth {
	&__main {
		align-items: center;
		background-color: $color_primary;
		display: flex;
		justify-content: center;
		margin: 0px;
		height: 100vh;
		width: 100vw;
	}

	&__box--container {
		background-color: $light-grey;
		box-shadow: 0 3px $dark-grey;
		border-radius: 2px;
		padding: 20px;
		width: 30rem;
	}

	&__title {
		color: darken($color_primary, 20%);
		margin-bottom: 1.5rem;
		font-size: 2rem;
	}

	&__input {
		color: $dark-grey;
		border: 0px;
		border-bottom: 1px solid $light-grey;
		border-radius: 2px;
		font-size: 1.25rem;
		margin-bottom: 10px;
		height: 2.5rem;
		width: 100%;
		padding: 5px;

		transition: border-bottom 0.75s ease;

		&::placeholder {
			color: lighten($dark-grey, 50%);
		}
		&:focus {
			outline: none;
			border-bottom: 1px solid $color_primary;
		}
	}

	&__social-networks {
		align-items: center;
		display: flex;
		justify-content: center;
		flex-direction: column;
		padding-top: 2rem;
		padding-bottom: 2rem;
		width: 100%;
	}

	&__alert-error {
		background-color: red;
		border-radius: 0.5rem;
		color: white;
		display: flex;
		justify-content: center;
		margin-bottom: 1rem;
		padding: 0.5rem;
	}
}
