.journal {
	&__main-content {
		display: flex;
	}

	&__sidebar {
		background-color: $dark-grey;
		color: white;
		display: flex;
		flex-direction: column;
		height: 100vh;
		padding-left: 1rem;
		padding-right: 1rem;
		width: 450px;

		&-navbar {
			display: flex;
			justify-content: space-around;
			align-items: baseline;
		}

		&-new-entry {
			align-items: center;
			cursor: pointer;
			display: flex;
			flex-direction: column;
			justify-content: center;
			margin-top: 3rem;
			transition: color 0.3s ease-in-out;
			width: 100%;

			&:hover {
				color: darken(white, 20%);
			}
		}
	}

	&__entries {
		margin-top: 30px;
		flex: 1 1 auto;
		overflow-y: scroll;

		&::-webkit-scrollbar {
			width: 0px;
		}
	}

	&__entry {
		background-color: white;
		border-radius: 4px;
		color: $dark-grey;
		display: flex;
		margin: 10px 10px;
		overflow: hidden;
		cursor: pointer;

		&-picture {
			height: 75px;
			width: 75px;
		}

		&-body {
			padding: 10px;
		}
		&-title {
			font-size: 14px;
			font-weight: bold;
		}
		&-content {
			font-size: 10px;
		}
		&-datebox {
			align-items: center;
			display: flex;
			flex-direction: column;
			justify-content: center;
			padding: 5px;

			& h4 {
				font-size: 8px;
				font-weight: bold;
				text-transform: uppercase;
			}

			& span {
				font-size: 20px;
			}
		}
	}
}
